<div class="about">
  <h1>
    About Proof
  </h1>
  <h5>
    We started Proof to commodo diam libero vitae erat. Aenan faucibus nibb et justo cursus id rutrum lorem imperiet.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
  </h5>
  <hr>
  <div class="team">
      <h1>The Team</h1>
      <div class="card-deck">
          <div class="card">
            <img src="../../assets/download6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mr. Johnson</h5>
              <img class= "fb" src="../../assets/fb.jpeg">
              <img class= "insta" src="../../assets/insta.jpeg">
            </div>
          </div>
          <div class="card">
            <img src="../../assets/download6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mr. Singh</h5>
              <img class= "fb" src="../../assets/fb.jpeg">
              <img class= "insta" src="../../assets/insta.jpeg">
            </div>
          </div>
          <div class="card">
            <img src="../../assets/download6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mr. Chopra</h5>
              <img class= "fb" src="../../assets/fb.jpeg">
              <img class= "insta" src="../../assets/insta.jpeg">
            </div>
          </div>
        </div>
  </div>

</div>