<div class=nav>
        <button type="button" mdbBtn routerLink="/articles">Articles</button>
        <button type="button" mdbBtn routerLink="/suggest">Suggest</button>
        <button type="button" mdbBtn>Subscribe</button>
        <button type="button" mdbBtn routerLink="/about">About</button>
        <button type="button" mdbBtn routerLink="/suggestions">View Suggestions</button>
        <button type="button" mdbBtn routerLink="/api">Api</button>
</div>
<!-- <app-articles></app-articles> -->
<router-outlet></router-outlet>
